html {
  height: 100%;
  width: 100%;
}
h1{
  text-align: center;
}

/* body {background-image:red;  */
ul {

  border: 5px solid white;
  padding: 5px;
  margin: 5px;
  word-spacing: 10px;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  a{
    color: black;
  }
  

  text-align: center;
  }
      
 li {display: inline; 
        
      }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      }
      p{ text-align: center;
        
      }
      #contact{
        background-color: red;
      }
   #about{
    background-color: red;
     }
   #home{
    background-color: red;
    }
body{
  color: white;
  background-color: red;
}
          

          
        


      